# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Tools/HKXPACK_BASED_TOOLS/.idea/.name
Tools/HKXPACK_BASED_TOOLS/.idea/modules.xml
Tools/HKXPACK_BASED_TOOLS/.idea/misc.xml
Tools/HKXPACK_BASED_TOOLS/.idea/workspace.xml
Tools/HKXPACK_BASED_TOOLS/.idea/HKXPACK_BASED_TOOLS.iml
Tools/HKXPACK_BASED_TOOLS/.idea/encodings.xml
Tools/HKXPACK_BASED_TOOLS/build/hkxpack_based_tools_ui/hkxpack_based_tools_ui.exe.manifest
Tools/HKXPACK_BASED_TOOLS/build/hkxpack_based_tools_ui/out00-PYZ.pyz
Tools/HKXPACK_BASED_TOOLS/build/hkxpack_based_tools_ui/warnhkxpack_based_tools_ui.txt
Tools/HKXPACK_BASED_TOOLS/build/hkxpack_based_tools_ui/out00-PYZ.toc
*.toc
Tools/HKXPACK_BASED_TOOLS/build/hkxpack_based_tools_ui/out00-PKG.pkg
